#Dev/Deployment
coverage
pypi-publisher

# Usage
IPython
bs4
lxml
pika
pillow
python-magic
PyPDF2
urllib3
requests
selenium
unidecode
requests[socks]
pdftotext
pyvirtualdisplay
Flask
Redis
flask-restful
pyopenssl
python-dateutil
tornado
pymongo
aiohttp
python-magic
SQLAlchemy
psycopg2